<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins&family=Montserrat&family=Josefin+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Chat</title>
</head>

<body>
    <div class="title">
        <h2><span>Messenger</span> Application <i class="fa fa-comments" aria-hidden="true"></i></h2>
    </div>

    <div class="group_title">
    </div>

    <!-- Group Members -->
    <!-- <div class="members">
        <div class="show">Participants</div>
        <ul id="list"> -->
    <!-- List will be dependent on javascript ! -->
    <!-- <li>Aditya <i class="fa fa-circle" aria-hidden="true"></i></li>
            <li>Joe <i class="fa fa-circle" aria-hidden="true"></i></li>
            <li>John <i class="fa fa-circle" aria-hidden="true"></i></li>
            <li>Doe <i class="fa fa-circle" aria-hidden="true"></i></li> -->
    <!-- </ul>
    </div> -->

    <div class="chat_container">
        <div class="cont">
            <!-- Messages will be appeared with the help of javascript ! -->
        </div>
    </div>


    <div class="input_cont">
        <input type="text" id="text" placeholder="Type a message..." autocomplete="off">
        <button id="send_button">Send</button>
    </div>

    <div class="typing">
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
<script>
    // Extract group-id and group-title from URL !
    // cOLLect URL
    const url = window.location.href;
    console.log("URL : ", url);
    const url_string = new URL(url);

    // Colllect id and title
    const id = url_string.searchParams.get("group_id");
    const title = url_string.searchParams.get("group_title");

    console.log("ID : ", id);
    console.log("Title : ", title);



    // Take controls of input and button !
    const text_input = document.getElementById("text");
    const send_button = document.getElementById("send_button");
    const output_container = document.getElementById("output");
    const typing_box = document.querySelector(".typing");
    const name = prompt("Enter your name !");


    // Message Container
    const message_box = document.querySelector(".cont");

    // // Initiate Connection with Websocket Server !
    // const ws = new WebSocket("ws://127.0.0.1:5500/");

    // // Accepting Server response after connecting !
    // ws.onopen = function () {
    //     console.log("Connected with server !");
    // };

    // // Send Messages to server !
    // send_button.addEventListener("click", function () {
    //     console.log("Sent : ", text_input.value);

    //     const user = {
    //         client_name: name,
    //         message: text_input.value
    //     };

    //     ws.send(JSON.stringify(user));

    //     text_input.value = "";
    // });


    // // Recieve messages from server !

    // ws.onmessage = function (data) {
    //     console.log(data.data);
    //     const parsed_data = JSON.parse(data.data);

    //     output_container.innerHTML += `<p>${parsed_data.name} : ${parsed_data.data}</p>`;
    // };


    // const car = {
    //     name: "ABC",
    //     price: 2
    // }

    // console.log(car.name);


    // Parse + Display !
    function parsing(data) {
        const parsed_data = JSON.parse(data);

        console.log(parsed_data);

        if (parsed_data.type === "enter") {
            const div = document.createElement("div");
            div.classList.add("alert");
            div.innerHTML = `<h1>${parsed_data.text} : ${parsed_data.time}</h1>`;
            message_box.appendChild(div);
            // output_container.innerHTML += `<h1>${parsed_data.text} : ${parsed_data.time}</h1>`;
        }


        if (parsed_data.type === "left") {
            const div = document.createElement("div");
            div.classList.add("alert");
            div.innerHTML = `<h1>${parsed_data.message} : ${parsed_data.time}</h1>`;
            message_box.appendChild(div);
            // output_container.innerHTML += `<h1>${parsed_data.message} : ${parsed_data.time}</h1>`;
        }

        if (parsed_data.type === "server") {
            const div = document.createElement("div");
            div.classList.add("output");
            div.innerHTML = `<div class="message">
                            <p id="text"><strong>${parsed_data.name}</strong> : ${parsed_data.data}</p>
                            <p id="time"><em>${parsed_data.time}</em></p>
                         </div>`;
            message_box.appendChild(div);

            typing_box.innerHTML = "";
            // output_container.innerHTML += `<p><strong>${parsed_data.name}</strong> : ${parsed_data.data} : ${parsed_data.time}</p>`
        }

        if (parsed_data.type === "typing") {
            typing_box.innerHTML = `<p><strong>${parsed_data.name}</strong> is typing...</p>`;
            // typing_box.innerHTML = `<p><strong>${parsed_data.name}</strong> : <em>Typing....</em></p>`
        }
    }


    // Initiate Connection with Websocket Server !
    const ws = io();

    // Send group-title, name, id
    ws.emit("entry_data", JSON.stringify({
        name: name,
        id: id,
        group_title: title
    }));

    // Accepting Server response after connecting !
    ws.on("onconnect", function (data) {
        console.log(data);
    });


    // Send Messages to server !
    send_button.addEventListener("click", function () {
        console.log("Sent : ", text_input.value);
        // output_container.innerHTML += `<p><strong>${name}</strong> : ${text_input.value}</p>`;
        const div = document.createElement("div");
        div.classList.add("input");

        div.innerHTML = `<div class="message">
                            <p id="text"><strong>YOU</strong> : ${text_input.value}</p>
                            <p id="time"><em>${new Date().toLocaleTimeString()}</em></p>
                        </div>`;
        message_box.appendChild(div);

        const user = {
            id: id,
            client_name: name,
            message: text_input.value
        };

        ws.emit("input_message", JSON.stringify(user));

        text_input.value = "";
    });

    // Recieve messages from server !

    ws.on("server_message", function (data) {
        console.log(data);
        const parsed_data = parsing(data);

        // output_container.innerHTML += `<p>${parsed_data.name} : ${parsed_data.data}</p>`;
    });


    // Collect entry_message !
    ws.on("server_msg", function (data) {
        console.log(data);

        parsing(data);
    });

    // On exit emit exit message to server !

    window.onbeforeunload = function () {
        const exitMsg = {
            id: id,
            name: name
        };

        ws.emit("exit", JSON.stringify(exitMsg));

        return "Are you sure you want to exit ?"
    }

    // Exit message coming from server !
    ws.on("exit_message", function (data) {
        console.log(data);

        parsing(data);

        // const parsed_data = JSON.parse(data);

        // output_container.innerHTML += `<h1>${parsed_data.message} : ${parsed_data.time}</h1>`;
    })


    // Collect typing event !
    text_input.addEventListener("input", typing);

    function typing() {
        console.log("Typing...");

        // Send dummy data to server !

        const dummy = {
            type: "typing",
            id: id,
            name: name,
            "text": "typing.."
        };

        ws.emit("client_typing", JSON.stringify(dummy));
    }

    // Collect server typing requests !
    ws.on("server_typing", function (data) {
        parsing(data);
    });



</script>

</html>