<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <h2>Group Title</h2>
    <input type="text" id="text" placeholder="Enter Random Text !" autocomplete="off">
    <button id="btn">Send 📩</button>

    <!-- Messages from server -->
    <div id="output"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
<script>
    // Extract group-id and group-title from URL !
    // cOLLect URL
    const url = window.location.href;
    console.log("URL : ", url);
    const url_string = new URL(url);

    // Colllect id and title
    const id = url_string.searchParams.get("group_id");
    const title = url_string.searchParams.get("group_title");

    console.log("ID : ", id);
    console.log("Title : ", title);



    // Take controls of input and button !
    const text_input = document.getElementById("text");
    const send_button = document.getElementById("btn");
    const output_container = document.getElementById("output");
    const name = prompt("Enter your name !");

    // // Initiate Connection with Websocket Server !
    // const ws = new WebSocket("ws://127.0.0.1:5500/");

    // // Accepting Server response after connecting !
    // ws.onopen = function () {
    //     console.log("Connected with server !");
    // };

    // // Send Messages to server !
    // send_button.addEventListener("click", function () {
    //     console.log("Sent : ", text_input.value);

    //     const user = {
    //         client_name: name,
    //         message: text_input.value
    //     };

    //     ws.send(JSON.stringify(user));

    //     text_input.value = "";
    // });


    // // Recieve messages from server !

    // ws.onmessage = function (data) {
    //     console.log(data.data);
    //     const parsed_data = JSON.parse(data.data);

    //     output_container.innerHTML += `<p>${parsed_data.name} : ${parsed_data.data}</p>`;
    // };


    // const car = {
    //     name: "ABC",
    //     price: 2
    // }

    // console.log(car.name);


    // Parse + Display !
    function parsing(data) {
        const parsed_data = JSON.parse(data);

        if (parsed_data.type === "enter") {
            output_container.innerHTML += `<h1>${parsed_data.text} : ${parsed_data.time}</h1>`;
        }


        if (parsed_data.type === "exit") {
            output_container.innerHTML += `<h1>${parsed_data.text} : ${parsed_data.time}</h1>`;
        }
    }


    // Initiate Connection with Websocket Server !
    const ws = io();

    // Send group-title, name, id
    ws.emit("entry_data", JSON.stringify({
        name: name,
        id: id,
        group_title: title
    }));

    // Accepting Server response after connecting !
    ws.on("onconnect", function (data) {
        console.log(data);
    });


    // Send Messages to server !
    send_button.addEventListener("click", function () {
        console.log("Sent : ", text_input.value);
        output_container.innerHTML += `<p>${name} : ${text_input.value}</p>`;

        const user = {
            client_name: name,
            message: text_input.value
        };

        ws.emit("input_message", JSON.stringify(user));

        text_input.value = "";
    });

    // Recieve messages from server !

    ws.on("server_message", function (data) {
        console.log(data);
        const parsed_data = parsing(data);

        output_container.innerHTML += `<p>${parsed_data.name} : ${parsed_data.data}</p>`;
    });


    // Collect entry_message !
    ws.on("server_msg", function (data) {
        console.log(data);

        parsing(data);
    });

    // On exit emit exit message to server !

    window.onbeforeunload = function () {
        const exitMsg = {
            id: id,
            name: name
        };

        ws.emit("exit", JSON.stringify(exitMsg));

        return "Are you sure you want to exit ?"
    }

    // Exit message coming from server !
    ws.on("exit_message", function (data) {
        console.log(data);

        parsing(data);

        // const parsed_data = JSON.parse(data);

        // output_container.innerHTML += `<h1>${parsed_data.message} : ${parsed_data.time}</h1>`;
    })





</script>

</html>